{% comment %}
  Renders grouped products links as swatches or product name buttons on the product details page
  Uses a Product Metafield called custom.grouped_products to link other products
  (Requires manually adding and populating the metafield)

  Accepts:
  - product: {Object} product object.
  - block: {Object} block object.

  Usage:
  {%  render enable-grouped-product,
    product: product,
    block: block %}
{% endcomment %}
{% if block.settings.enable_grouped_product_picker %}
  {% if block.settings.grouped_product_block_title %}
    <p>{{ block.settings.grouped_product_block_title }}</p>
  {% endif %}
  <div class="color grouped_product_select">
    {% assign current_product_handle = product.handle %}
    {% assign grouped_products = product.metafields.custom.grouped_products.value %}
    {% for grouped_product in grouped_products %}
      <a
        href="{{ grouped_product.url }}"
        class="pill {%if current_product_handle == grouped_product.handle %}current{% endif %}"
      >
        {{- grouped_product.title -}}
      </a>
    {% endfor %}
  </div>
  <style>
    .grouped_product_select a {
      border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
      background-color: rgb(var(--color-background));
      color: rgba(var(--color-foreground));
      border-radius: var(--variant-pills-radius);
      color: rgb(var(--color-foreground));
      display: inline-block;
      margin: 0.7rem 0.5rem 0.2rem 0;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      line-height: 1;
      text-align: center;
      transition: border var(--duration-short) ease;
      cursor: pointer;
      position: relative;
      text-decoration: none;
    }
    .grouped_product_select a.current {
      background-color: rgb(var(--color-foreground));
      color: rgb(var(--color-background));
    }
    .grouped_product_select a:hover:not(.current) {
      border-color: 0.2rem solid rgba(var(--color-foreground), 0.5);
    }
  </style>
{% endif %}
